
services:
  backend:
    build: ./backend
    ports:
      - "4000:8080"
    env_file:
      - ./.env
    environment:
      - DefaultConnection=${DEFAULT_CONNECTION}
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Lifetime=${JWT_LIFETIME}
    depends_on:
      - database

  frontend:
    build: ./frontend
    ports:
      - "4001:80"
    env_file:
      - ./.env
    depends_on:
      - backend
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1344:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
